body, html {
  height: 100%;
  overflow: hidden;
  background: url(../img/bg.png) repeat;
}
.main-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 11.08rem;
   /*background: #faa*/
}
@keyframes bounceInRight {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(3000px,0,0);
        opacity: 0;
        transform: translate3d(3000px,0,0)
    }

    60% {
        -webkit-transform: translate3d(-25px,0,0);
        opacity: 1;
        transform: translate3d(-25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes bounceInLeft {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(-3000px,0,0);
        opacity: 0;
        transform: translate3d(-3000px,0,0)
    }

    60% {
        -webkit-transform: translate3d(25px,0,0);
        opacity: 1;
        transform: translate3d(25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(5px,0,0);
        transform: translate3d(5px,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes bounceInDown {
  0%,60%,75%,90%,to {
    -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
    animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
    -webkit-transform: translate3d(0,-3000px,0);
    opacity: 0;
    transform: translate3d(0,-3000px,0)
  }

  60% {
    -webkit-transform: translate3d(0,25px,0);
    opacity: 1;
    transform: translate3d(0,25px,0)
  }

  75% {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0)
  }

  90% {
    -webkit-transform: translate3d(0,5px,0);
    transform: translate3d(0,5px,0)
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}
@keyframes bounceInUp {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(0,3000px,0);
        opacity: 0;
        transform: translate3d(0,3000px,0)
    }

    60% {
        -webkit-transform: translate3d(0,-20px,0);
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes music {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(360deg);
  }
}
@keyframes loading-icon {
  0% {
    background: url(../img/loading-left.png) no-repeat center / contain;
  }
  50% {
    background: url(../img/loading-right.png) no-repeat center / contain;
  }
  100% {
    background: url(../img/loading-left.png) no-repeat center / contain;
  }
}
.transition {
  transition: 0.268s all ease
}
.button-start {
  transform: scale(0.95) translateY(2px)
}

.z1 {
  z-index: 1
}
.z2 {
  z-index: 2
}
.z-top {
  z-index: 99
}
body .none {
  display: none
}
.relative {
  position: relative;
}
.absolute {
  position: absolute
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1 1 auto;
}
.full-screen {
  position: relative;
  width: 100%;
  height: 100%;
}
.text-center {
  text-align: center;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(../img/bg.png) center / cover #002660;
  display: flex;
  justify-content: center;
  align-items: center
}
.loading-content {
  padding-bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.loading-icon {
  width: 1.15rem;
  height: 1rem;
  background: url(../img/loading-left.png) no-repeat center / contain;
  animation: loading-icon 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  margin-bottom: 0.5rem
}
.loading-bar {
  width: 50vw;
  height: 0.18rem;
  border-radius: 9px;
  background: #c6e6e8;
  position: relative;
  overflow: hidden;
}
.load {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.18rem;
  background: #dd6b53
}
.logo {
  width: 1.67rem;
  height: 0.34rem;
  position: fixed;
  left: 0.52rem;
  top: 0.44rem;
}
.index {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}
.logo {
  font-size: 1rem
}
.index-foot {
  position: absolute;
  width: 5.34rem;
  height: 2.4rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.index-font1 {
  position: absolute;
  top: 0.24rem;
  left: 0;
  width: 3.12rem;
}

.index-font2 {
  position: absolute;
  bottom: 0.35rem;
  left: 0;
  width: 3.09rem;
}
.index-begin {
  position: absolute;
  right: 0;
  top: 0.1rem;
  width: 1.8rem;
}
.img-cover {
  position: absolute;
  top: 0.8rem;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 33.7rem; */
  width: 5.9rem;
  /* height: 7.63rem; */
}
.input-content {
  background: url(../img/input-content-bg.png) repeat center / cover #014382;
  overflow: hidden;
}
@keyframes slowShow {
  from {
    height: 0
  }
  to {
    height: 8.73rem;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}
.input-img {
  width: 5.4rem;
  height: 8.73rem;
  background: url(../img/input-content.png) no-repeat top center / 5.4rem 8.73rem;
  left: 0.4rem;
  right: 0;
  margin: auto;
  top: 0.8rem;
  animation: slowShow 2s ease
}
.test-button {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  margin: auto;
  width: 4.6rem;
  animation: show 0.5s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards
}
.input-name {
  top: 4.84rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3.5rem;
  height: 0.6rem;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 0.2rem 0;
  border-radius: 0.4rem;
}
.input-name::-webkit-input-placeholder{
    color:#ff5a5f;
}
.input-name::-moz-placeholder{
    color:#ff5a5f;
}
.input-name:-moz-placeholder{
    color:#ff5a5f;
}
.input-name:-ms-input-placeholder{
    color:#ff5a5f;
}
.question-content {
  position: absolute;
  left: 0;
  top: 0;
}
.question-bg {
  display: none
}
.question-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  margin: auto;
}
.question1 {
  background: url(../img/q1-bg.png) no-repeat bottom right / cover #c1e0f2
}
.question2 {
  background: url(../img/q2-bg.png) no-repeat bottom right / cover #c1e0f2
}
.question3 {
  background: url(../img/q3-bg.png) no-repeat bottom right / cover #c1e0f2
}
.question4 {
  background: url(../img/q4-bg.png) no-repeat bottom right / cover #c1e0f2
}
.question5 {
  background: url(../img/q5-bg.png) no-repeat bottom right / cover #c1e0f2
}
.question6 {
  background: url(../img/q6-bg.png) no-repeat bottom right / cover #c1e0f2
}
.question-title1 {
  width: 5.29rem
}
.question-title2 {
  width: 3.88rem
}
.question-title3 {
  width: 5.27rem
}
.question-title4 {
  width: 5.44rem
}
.question-title5 {
  width: 5.33rem
}
.question-title6 {
  width: 4.35rem
}
.answer-list {
  position: absolute;
  left: 0;
  right: 0;
  width: 4.63rem;
  top: 4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.answer-item {
  color: #fff;
  width: 4.63rem;
  line-height: 0.4rem;
  padding: 0.2rem 0.3rem;
  margin-bottom: 0.15rem;
  background: url(../img/answer-bg.png) no-repeat center / 100% 100%;
  display: flex;
  align-items: center
}
.answer-item i {
  padding-right: 0.15rem
}

.tips-content {
  position: absolute;
  background: url(../img/tips-bg.png) repeat center / cover #014381;
}
.tip-cover {
  animation-duration: 1s;
  top: 0.8rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 6.1rem;
}
.bounceInUp {
  animation-name: bounceInUp;
}
.bounceInDown {
  animation-name: bounceInDown;
}
.bounceInRight {
  animation-name: bounceInRight;
}
.bounceInLeft {
  animation-name: bounceInLeft;
}
.result-cover {
  top: 0.8rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 6rem
}
.t-c, .r-c {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.submit-button,
.next-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 8.4rem;
  width: 4rem;
  margin: auto;
}
.draw-button {
  position: absolute;
  left: 0;
  right: 0;
  width: 4.3rem;
  margin: auto;
  top: 7.2rem;
}
.qrcode {
  position: absolute;
  right: 0.44rem;
  top: 9.26rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  /*background: #000;*/
}
.qrcode img {
  width: 100%;
  height: 100%
}
.name {
  color: #032663;
  font-size: 15px;
  position: absolute;
  right: 3.94rem;
  top: 0.3rem;
  z-index: 1;
  text-align: right;
}

.music {
  animation: 2.3s music linear infinite;
  position: fixed;
  z-index: 99;
  right: 0.37rem;
  top: 0.33rem;
  width: 0.58rem;
  height: 0.58rem;
  background: url(../img/music.png) no-repeat center / contain;
}
.music-pause {
  animation: none;
  background: url(../img/music-pause.png) no-repeat center / contain;
}

.lucky-content {
  background: url('../img/lucky-bg.png') no-repeat center / contain #dd6e56;
}
.lucky-bg-t {
  width: 7.11rem;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.lucky-bg-m {
  width: 100vw;
  z-index: 2;
  position: absolute;
  top: 4.2rem;
  left: 0;
}
.lucky-board {
  position: absolute;
  z-index: 2;
  width: 6rem;
  height: 6.1rem;
  top: 5rem;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../img/lucky-board.png) no-repeat center / contain;
  padding: 0.3rem 0.24rem 0.28rem 0.25rem;
  display: flex;
  flex-direction: column;
}
.board-row {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 0 2px;
}
.board-item,
.begin-draw {
  flex: 1;
  margin: 2px;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem
}
.padding-t-2 {
  padding-top: 2px;
}
.padding-b-2 {
  padding-bottom: 2px;
}
.board-active {
  background: #ffd983;
}

.board-item img,
.begin-draw img{
  width: 100%;
}
.board-item3 img {
  width: 80%
}
.begin-draw {
  background: #ffb028;
}
.lucky-cover {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.lucky-cover-bg {
  width: 5.04rem;
  height: 4.04rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/lucky-cover-bg.png) no-repeat center / contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.luck-word {
  width: 3.72rem;
  margin-bottom: 0.7rem;
}
.luck-word50 {
  margin-bottom: 0.4rem;
}
.luck-btn {
  width: 2.85rem;
}
.address {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 6.4rem;
  height: 8.8rem;
  background: #fff;
  border-radius: 10px;
}
.address-more {
  height: 10.6rem;
}
#left, #right {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  font-size: 12px;
  border: 1px solid #084983;
  background: #fff;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
.recipient {
  width: 2.51rem;
  padding: 0.7rem 0 0.4rem;
}
.recipient-form {
  padding: 0 0.3rem;
  width: 100%;
}

.recipient-form section {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.56rem;
  padding-bottom: 0.5rem;
}
.recipient-form span {
  flex: 1 1 auto;
  font-size: 16px;
  color: #084983;
  font-weight: bold;
}
.recipient-form input,
.recipient-form textarea {
  font-size: 14px;
  color: #084983;
  width: 4.1rem;
  height: 0.56rem;
  padding: 0.13rem;
  line-height: 0.3rem;
  border-radius: 6px;
  background: #ecfaff;
  border: 1px solid #c3d5e5
}

.recipient-form .detail-addr {
  height: 1.12rem;
}
.addr-submit {
  width: 3.77rem;
}

.coverImgParent {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center
}
.coverImgParent img {
  width: 70%
}
.fz-18 {
  font-size: 18px;
}
.tc-f {
  color: #fff
}
.snapshot-close {
  position: absolute;
  right: 30px;
  top: 80px;
}